.get-in-touch{
    padding: $section-padding-y 0;
    background-color: $bg_blue;
    min-height: 820px;
    width: 100%;
    .white{
        color: white;
    }
    .touch{
        margin-bottom: 27px;
        margin-left: 115px;
    }
    form{
        margin-top: 80px;
    }
    input{
        border: 1px solid transparent;
        width: 415px;
        background-color: $form_drblue;
        border-radius: 5px;
        padding: 25px 22px 20px;
        color: white;
        box-sizing: border-box;
    }
    input, textarea{

    &::-webkit-input-placeholder { 
        color: white; }
    &::-moz-placeholder { color: white; }
    }

    button{
        position: sticky;
        border-color: transparent;
        margin-left: 38%;
    }
    textarea{
        resize: none;
        width: 943px;
        height: 200px;
        border: 1px solid transparent;
        background-color: $form_drblue;
        border-radius: 5px;
        box-sizing: border-box;
        color: white;
        padding-left: 25px;
        padding-top: 24px;
    }

}
@media only screen and (max-width: 320px){
    .touch{
        margin-left: initial !important;
    }
    input, textarea {
        width: 254px !important;
    }
    input {
        padding: 18px 20px 14px !important;
        margin-top: 10px;
    }
    button{
        margin-left: 4% !important;
    }
}
@media only screen and (max-width: 576px) and (min-width: 330px) {
    .touch{
        margin-left: initial !important;
    }
    input, textarea{
        width: 333px !important;
    }
    input{
        padding: 20px 23px 15px !important;
        margin-top: 10px;
    }
    button{
        margin-left: 10% !important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 580px){
    .get-in-touch {
        .touch {
        margin-left: 85px !important;
        }
        input {
            margin-top: 10px;
        }
        input, textarea{
            width: 554px !important;
        }
        button {
            margin-left: 30% !important;
        }
    }
}
@media only screen and (max-width: 992px) and (min-width: 770px){
    .get-in-touch {
        .touch {
        margin-left: 45px;
    }
    button{
        margin-left: 35%;
    }
}
    input{
        width: 412px;
    }
    textarea{
        width: 872px !important;
    }
}