header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    
    transition: background-color $default-transition-duration;
    &.is-fixed {
        .nav {
            padding: 1px;
        }
    }
    background-color: $bg_welcome;
}
.nav{
    padding-top: 22px;
    transition: padding $default-transition-duration;

    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-item{
            
            &:first-child {
                margin-right: auto;
            }
            list-style-type: none;
            
            &:not(:first-child) {
                margin-left: 30px;
                transition: background-color 100ms ease-out;
                &:hover{
                    border: 1px solid $menu_grape;
                    background-color: $menu_grape;
                    border-radius: 6px;
                    padding: 2px 15px;
                }
            }
        }
    }
}
a.link{
    color: white;
}
.logo {
    display: flex;
    align-items: center;
    color: #505050;
    font-size: 22px;
    text-decoration: none;
    transition: padding $default-transition-duration;

    img {
        width: 118px;
        height: 37px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 320px){
    header{ 
        width: 100%; 
        max-width: 320px;
        position: absolute;
        margin: 0;
        img{
            width: 70px !important;
            height: 21px !important;
            margin-right: initial !important;
        }
        
    }
    .nav-list{
        padding: 0;
        margin: 0;
        &-item:not(:first-child) {
            margin-left: 5px;
            margin-top: 10px; }
    }
}
@media only screen and (max-width: 576px) and (min-width: 330px) {
    header{ 
        width: 100%; 
        max-width: 576px;
        position: absolute;
        margin: 0;
        img{
            width: 96px;
            height: 30px;
        }
        
    }
    .nav-list{
        padding: 0;
        margin: 0;
        &-item:not(:first-child) {
            margin-left: 7px;
            font-size: 13px;
            margin-top: 10px; }
            &-item:first-child {
                margin-right: 15px;
            }
    }

}
@media only screen and (max-width: 768px) and (min-width: 580px) {
    header{
        max-width: 767px !important;
    }
    .nav{
        width: 735px !important;
    }
    
}
@media only screen and (max-width: 992px) and (min-width: 770px) {
    header{ 
        width: 100%; 
        max-width: 992px;
        position: absolute;
        margin: 0;
        img{
            width: 96px;
            height: 30px;
        }
        
    }
    .nav{
        width: 818px;
    }
}