.portfolio{
    padding: $section-padding-y 0;
    background-color: $bg_beige_text;
    min-height: 1420px;
    width: 100%;
    .descr{
        width: 515px;
        margin-left: 25%;
    }
    .mini-menu{
        margin-left: 30%;
        margin-bottom: 60px;
    }
    .rectangle{
        display: inline-block;
        margin-left: 10px;
        border: 1px solid transparent;
        background-color: $bg_beige_op;
        padding: 6px 27px;
        border-radius: 6%;
        transition: background-color 250ms ease-out;
        &:hover{
            background-color: white;
        }
    }
    
    .descr-1{
        margin-right: 5%;
    }
    a{
        margin: 0 33%;
        white-space: nowrap;
        position: relative;
        top: 70px;
    }
}
@media only screen and (max-width: 320px){
    .portfolio {
    .mini-menu{
        margin-left: 6% !important;
        .rectangle{
        margin-left: initial;
        padding: 3px 9px;
        }
    }
    .port_block{
        img{
            width: 203px;
            height: 113px;
        }
    }
    .descr-1{
        margin-right: 0 !important;
    }
    a{
        margin-left: 25px;
    }
    .btn-primary{
        padding: 28px 56px;
    }
}
}
@media only screen and (max-width: 576px) and (min-width: 330px) 
{
    .portfolio{
        .mini-menu, .rectangle{
        margin-left: initial;
        text-align: center;
        }
        .rectangle{
            padding: 5px 21px;
            font-size: 15px;
            margin: 0 auto;
        }
        img{
            width: 260px;
            height: 135px;
        }
        a{
            margin-left: 15px;
        }
    }
}