.welcome{
    display: flex;
    align-items: center;
    background-color: $bg_welcome;
    min-height: 600px;
    top: 70px;
    width: 100%;
    box-sizing: border-box;

    &-heading{
        max-width: 906px;
        color: white;
        margin: 0 150px 0 150px;
        &-2{
            margin: 0 100px 0 100px;
            color: white;
        }
    }
    a{
        margin: 0 37%;
        white-space: nowrap;
        position: relative;
        top: 70px;
    }
}
@media only screen and (max-width: 576px) and (min-width: 300px) {
    .welcome{
        &-heading, &-heading-2, a{
            text-align: center;
        }
        &-heading, &-heading-2{
            width: initial !important;
            margin: 0 5px 0 5px !important;
        }
        &-heading-2{
            display: inline-block;
        }
        a{
            margin: 0 auto !important;
            display: block;

        }
    }

}