.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.row {
    display: flex;
}
.col {
    flex: auto;
}
@media only screen and (max-width: 320px) {
    .container{
        max-width: 320px;
        position: relative;
    }
    .row{
        flex-direction: column;
    }
    .col{
        margin: 0 auto;
    }
}
@media only screen and (max-width: 576px) and (min-width: 330px){
    .container{
        max-width: 576px;
        position: relative;
    }
    .row{
        flex-direction: column;
    }
    .col{
        margin: 0 auto;
    }
}