body{
    font-family: 'Titillium Web', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    &.btn{
        font-size: $text_size_button;
    }
}
a, h2, h1{
    font-weight: 800;
}
h1, h2, h3, p.descr, p.descr-1, .hd, .add-ds{
    text-align: center;
}
.l-heading{
    text-align: left;
}
h1{
    font-size: $h1_text;
    line-height: 1.15;
}
h2{
    font-size: $h2_text;
    line-height: 0.75px;
    letter-spacing: 4px;

}
h3{
    font-size: $h3_text;
    line-height: $p_descr;
}
q{
    font-style: italic;
    font-size: $quote;
}
.descr{
    font-size: $p_descr;
}

.add-ds{
    font-size: $text_l;
}
input, textarea{

    &::-webkit-input-placeholder { 
        font-family: 'Titillium Web', sans-serif;
    font-size: $p_descr; }
    &::-moz-placeholder { font-family: 'Titillium Web', sans-serif; 
    font-size: $p_descr;}
    &::-webkit-textarea-placeholder { 
        font-family: 'Titillium Web', sans-serif;
}
}
button{
    font-family: 'Titillium Web', sans-serif;
    font-size: $text_size_button;
    font-weight: bold;
}


