body{
    font-family: 'Titillium Web', sans-serif;
}
a{
    text-decoration: none;
    font-weight: bold;
    &.btn{
        font-size: $text_size_button;
    }
}
a, h2, h1{
    font-weight: 800;
}
h1, h2, h3, p.descr, p.descr-1, .hd, .add-ds{
    text-align: center;
}
h3, .descr{
    font-size: $p_descr;
}
.l-heading{
    text-align: left;
}
h1{
    font-size: $h1_text;
    line-height: 1.15;
}
h2{
    font-size: $h2_text;
    line-height: 0.75px;
    letter-spacing: 4px;

}
h3{
    font-size: $h3_text;
}
q{
    font-style: italic;
    font-size: $quote;
}
.add-ds{
    font-size: $text_l;
}
input, textarea{

    &::-webkit-input-placeholder { 
        font-family: 'Titillium Web', sans-serif;
    font-size: $p_descr; }
    &::-moz-placeholder { font-family: 'Titillium Web', sans-serif; 
    font-size: $p_descr;}
    &::-webkit-textarea-placeholder { 
        font-family: 'Titillium Web', sans-serif;
}
}
button{
    font-family: 'Titillium Web', sans-serif;
    font-size: $text_size_button;
    font-weight: bold;
}
@media only screen and (max-width: 320px){
    header{
        .nav-list-item:not(:first-child){
            font-size: $menu_media;
        }
    }
    .welcome{
        &-heading, &-heading-2{
        font-size: $h1_media;
        }
       
        a.btn{
            font-size: $btn_media;
        }
    }
    h2{
        font-size: $h2_l_media;
    }
    q{
        font-size: initial !important;
    }
    h3{
        font-size: $btn_media;
        text-align: center !important;
    }
    p.descr, p.add-ds, p.descr-1, a.btn{
        font-size: $descr_l_media;
    }
    .team{
        h2{
            font-size: 15px;
        }
    }
    .testimonials{
        h2{
            font-size: 12px;
        }
    }
}
@media only screen and (max-width: 576px) and (min-width: 330px) {
    h2{
        font-size: $h2_media;
    }
    h3{
        font-size: $p_descr;
        text-align: center !important;
    }
    p.descr, p{
        font-size: $text_l;
    }
    .welcome{
        &-heading, &-heading-2{
        font-size: $h1_media;
        }
       
        a.btn{
            font-size: $btn_media;
        }
    }
    .portfolio{
        a{
            font-size: $btn_media;
        }
    }
    .testimonials, .team{
        h2{
        font-size: $p_descr;
        }
    }
    q{
        font-size: $btn_media;
    }
    a{
        width: 100px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 580px) {
    p.descr{
        text-align: center;
    }
}


