a{
    text-decoration: none;
    font-weight: bold;
    &.btn{
        font-size: $text_size_button;
    }
}
a, h2, h1{
    font-weight: 800;
}
h1, h2, h3, p.descr, .hd, .add-ds{
    text-align: center;
}
h1{
    font-size: $h1_text;
    line-height: 1.15;
}
h2{
    font-size: $h2_text;
    line-height: 0.75px;
    letter-spacing: 4px;

}
h3{
    font-size: $h3_text;
    line-height: $p_descr;
}
.descr{
    font-size: $p_descr;
}

.add-ds{
    font-size: $text_l;
}