// Colors
$bg_welcome: #87509c;
$menu_grape: #643a79;
$button_work:#eb7d4b;
$button_1:  #d86d3b;
$button_2: #16aa8f;
$button_3: #2a9dc4;
$button_hover:rgb(228, 228, 228);
$bg_topaz: #17c2a4;
$black_opacity: rgba(0, 0, 0, 0.301);
$bg_light_blue: #e7f1f8;
$button_br_blue_text: #30bae7;
$dr_blue_text: #3c4761;
$footer: #344b8e;
$links: #bdd1df;
$bg_blue: #3c5499;
$form_drblue: #273a71;
$bg_beige_text: #ffdd99;
$bg_beige_op: #ceb27b;
$bg_fuxia: #d74680;

$default-transition-duration: 250ms;

// Font
$text_l: 16px;
$text_size_button: 17.5px;
$h1_text: 42.5px;
$h2_text: 40px;
$h2_media: 20px;
$p_descr: 18px;
$descr_media: 16px;
$h1_media: 24.5px;
$btn_media: 15.5px;
$h3_text: 24px;
$quote: 21.5px;
$gen_font: 'Titillium Web', sans-serif;

// Sizes
$section-padding-y: 100px;