$button-padding-default: 28px 82px;

.btn {

    &-primary {
        color: #fff;
        position: sticky;
        border-radius: 4px;
        transition: background-color 250ms ease-out;
        &:hover {
            color: $button_work;
            background-color: #fff;
            box-shadow: 0 5px 0 2px $button_hover;
        }
        padding: $button-padding-default;
        &-orange{
            box-shadow: 0 5px 0 2px $button_1;
            background-color: $button_work;
        }
        &-topaz{
                background-color: $bg_topaz;
                box-shadow: 0 5px 0 2px $button_2;
                &:hover{
                    color: $bg_topaz;
                }
        }
        &-light-blue{
            background-color: $button_br_blue_text;
            box-shadow: 0 5px 0 2px $button_3;
            &:hover{
                color: $button_br_blue_text;
            }
    }
    }
}